#table-head-action
{
    padding-left:15px;
    padding-right:92px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actionmgh
{
    padding-left:15px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-nocaesarian
{
    padding-left:15px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actiondocz
{
    padding-left:15px;
    padding-right:100px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-typecoman
{
    padding-left:15px;
    padding-right:150px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actionpac
{
    padding-left:15px;
    padding-right:67px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actionquick
{
    padding-left:15px;
    padding-right:59px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actionpac2
{
    padding-left:15px;
    padding-right:115px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actionquk
{
    padding-left:15px;
    padding-right:160px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actionpac3
{
    padding-left:15px;
    padding-right:125px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actionpacid
{
    padding-left:15px;
    padding-right:170px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actionpacup
{
    padding-left:15px;
    padding-right:230px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-action3
{
    padding-left:15px;
    padding-right:175px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actiondiag
{
    padding-left:15px;
    padding-right:185px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-causes
{
    padding-left:15px;
    padding-right:105px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-action2
{
    padding-left:15px;
    padding-right:70px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-picsheader
{
    padding-left:15px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-actionhm
{
    padding-left:15px;
    padding-right:60px;
    padding-top:5px;
    padding-bottom:5px;
}


#table-head-action2hmo
{
    padding-left:15px;
    padding-right:150px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-action2sl
{
    padding-left:15px;
    padding-right:65px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-action4
{
    padding-left:15px;
    padding-right:45px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-singlebtn
{
    padding-left:15px;
    padding-right:25px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-singlebtnhom
{
    padding-left:15px;
    padding-right:45px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-singlebtn
{
    padding-left:15px;
    padding-right:25px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-name
{
    padding-left:15px;
    padding-right:235px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-type
{
    padding-left:15px;
    padding-right:100px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-namehmo
{
    padding-left:15px;
    padding-right:235px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-namediag
{
    padding-left:15px;
    padding-right:165px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-name2
{
    padding-left:15px;
    padding-right:325px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-namecauses
{
    padding-left:15px;
    padding-right:900px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-adrsprov
{
    padding-left:15px;
    padding-right:500px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-namequick
{
    padding-left:15px;
    padding-right:350px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-sorthmo
{
    padding-left:15px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-desc
{
    padding-left:15px;
    padding-right:295px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-descmgh
{
    padding-left:15px;
    padding-right:340px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-no
{
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
}

#table-head-hospno
{
    padding-left:15px;
    padding-right:145px;
    padding-top:5px;
    padding-bottom:5px;
}

#search-allpatient-table-foremergency-admission tbody td
{
    padding:0px 0px 0px 14px;
}

#search-allpatient-table-foremergency-admission tbody tr
{
    cursor:pointer;
}

#search-allpatient-table-foremergency-admission tbody tr:hover
{
    background-color:#d6d7d7;
}

#admitted-patients-masterlist-table tbody td
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
    padding-right:15px;
}

#admitted-patients-masterlist-table tbody tr
{
    cursor:pointer;
}

#admitted-patients-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#search-allpatient-table tbody td
{
    padding:0px 0px 0px 14px;
}

#search-allpatient-table tbody tr
{
    cursor:pointer;
}

#search-allpatient-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#hmo-masterlist-table tbody td
{
    padding:0px 0px 0px 14px;
}

#hmo-masterlist-table tbody tr
{
    cursor:pointer;
}

#hmo-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#hmo-management-table tbody td
{
    padding:0px 0px 0px 14px;
}

#hmo-management-table tbody tr
{
    cursor:pointer;
}

#hmo-management-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#allpatient-forpackage-table tbody td
{
    padding:0px 0px 0px 15px;
}

#allpatient-forpackage-table tbody tr
{
    cursor:pointer;
}

#allpatient-forpackage-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#slcode-masterlist-table tbody td
{
    padding:0px 3px 0px 3px;
}

#slcode-masterlist-table tbody tr
{
    cursor:pointer;
}

#slcode-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}


#package-masterlist-table tbody td
{
    padding:0px 0px 0px 15px;
}

#package-masterlist-table tbody tr
{
    cursor:pointer;
}

#package-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#docmasterlist-forpackage-table tbody td
{
    padding:0px 0px 0px 15px;
}

#docmasterlist-forpackage-table tbody tr
{
    cursor:pointer;
}

#docmasterlist-forpackage-table tbody tr:hover
{
    background-color:#d6d7d7;
}

/*#doctors-masterlist-table tbody td
{
    padding:0px 3px 0px 3px;
}*/

#doctors-masterlist2-table tbody td
{
    padding:0px 0px 0px 15px;
}

#doctors-masterlist2-table tbody tr
{
    cursor:pointer;
}

#doctors-masterlist2-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#ceasarian-indicationlist-table tbody td
{
    padding:0px 0px 0px 15px;
}

#ceasarian-indicationlist-table tbody tr
{
    cursor:pointer;
}

#ceasarian-indicationlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#nurses-masterlist2-table tbody td
{
    padding:0px 0px 0px 15px;
}

#nurses-masterlist2-table tbody tr
{
    cursor:pointer;
}

#nurses-masterlist2-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#rooms-masterlist2-table tbody td
{
    padding:0px 0px 0px 15px;
}

#rooms-masterlist2-table tbody tr
{
    cursor:pointer;
}

#rooms-masterlist2-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#hmo-management-table tbody td
{
    padding:0px 0px 0px 15px;
}

#hmo-management-table tbody tr
{
    cursor:pointer;
}

#hmo-management-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#dietary_guide_table tbody td
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
    padding-right:5px;
}

#dietarytablehead
{
/*    padding-right:50px;*/
}

#dietary_guide_table tbody tr
{
    cursor:pointer;
}

#dietary_guide_table tbody tr:hover
{
    background-color:#d6d7d7;
}



#comanagement-masterlist-table tbody td
{
    padding:0px 0px 0px 10px;
}

#comanagement-masterlist-table tbody tr
{
    cursor:pointer;
}

#comanagement-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#slcodemasterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#slcodemasterlist-table tbody tr
{
    cursor:pointer;
}

#slcodemasterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#membership-masterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#membership-masterlist-table tbody tr
{
    cursor:pointer;
}

#membership-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#nurses-masterlist-table tbody td
{
    padding:7px 12px 5px 12px;
}

#rooms-masterlist-table tbody td
{
    padding:7px 12px 5px 12px;
}

#slcode-masterlist-table tbody td
{
    padding-top:5px;
    padding-bottom:5px;
}

#slcode-masterlist-table tbody tr
{
    cursor:pointer;
}

#slcode-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#causesof-confinement-table tbody td
{
    padding-top:0px;
    padding-bottom:0px;
}

#causesof-confinement-table tbody tr
{
    cursor:default;
}

#causesof-confinement-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#prescribed-medstestins-listings-table tbody td
{
    padding-top:0px;
    padding-bottom:0px;
}

#prescribed-medstestins-listings-table tbody tr
{
    cursor:default;
}

#prescribed-medstestins-listings-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#ceasarian-case-indication-diagnosis-table tbody td
{
    padding-top:0px;
    padding-bottom:0px;
}

#ceasarian-case-indication-diagnosis-table tbody tr
{
    cursor:default;
}

#ceasarian-case-indication-diagnosis-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#categorized-final-diagnosis-table tbody td
{
    padding-top:0px;
    padding-bottom:0px;
}

#categorized-final-diagnosis-table tbody tr
{
    cursor:default;
}

#categorized-final-diagnosis-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#discharge-medical-procedure-cases-table tbody td
{
    padding-top:0px;
    padding-bottom:0px;
}

#discharge-medical-procedure-cases-table tbody tr
{
    cursor:default;
}

#discharge-medical-procedure-cases-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#patient-account-general-mgh-clearance-table tbody td,
#patient-account-charges-mgh-clearance-table tbody td,
#patient-account-payment-mgh-clearance-table tbody td,
#patient-account-returns-mgh-clearance-table tbody td,
#patient-account-collect-mgh-clearance-table tbody td,
#patient-account-discount-mgh-clearance-table tbody td,
#patient-account-others-mgh-clearance-table tbody td
{
    padding-top:0px;
    padding-bottom:0px;
}

#patient-account-general-mgh-clearance-table tbody tr,
#patient-account-charges-mgh-clearance-table tbody tr,
#patient-account-payment-mgh-clearance-table tbody tr,
#patient-account-returns-mgh-clearance-table tbody tr,
#patient-account-collect-mgh-clearance-table tbody tr,
#patient-account-discount-mgh-clearance-table tbody tr,
#patient-account-others-mgh-clearance-table tbody tr
{
    cursor:default;
}

#patient-account-general-mgh-clearance-table tbody tr:hover,
#patient-account-charges-mgh-clearance-table tbody tr:hover,
#patient-account-payment-mgh-clearance-table tbody tr:hover,
#patient-account-returns-mgh-clearance-table tbody tr:hover,
#patient-account-collect-mgh-clearance-table tbody tr:hover,
#patient-account-discount-mgh-clearance-table tbody tr:hover,
#patient-account-others-mgh-clearance-table tbody tr:hover
{
    background-color:#94a0e2;
}

#inpatient-masterlist-table tbody td
{
    padding-top:5px;
    padding-bottom:5px;
}

#inpatient-masterlist-table tbody tr
{
    cursor:default;
}

#inpatient-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}


#transparentbg
{
    background-color:transparent;
    color:transparent;
    border:transparent;
    box-shadow:none;
}

.change-color
{
    background: transparent;
    color: transparent;
}

div.relative {
    position: relative;
} 

div.absolute {
    position: absolute;
    right: 0;
}

.padding-bottom-foraddress
{
    padding-bottom:37px;
}

#diagnosis-masterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#diagnosis-masterlist-table tbody tr
{
    cursor:pointer;
}

#diagnosis-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#surgical-output-masterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#surgical-output-masterlist-table tbody tr
{
    cursor:pointer;
}

#surgical-output-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#citymun-patient-table tbody td
{
    padding-left:15px;
}

#citymun-patient-table tbody tr
{
    cursor:pointer;
}

#citymun-patient-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#province-patient-table tbody td
{
    padding-left:15px;
}

#province-patient-table tbody tr
{
    cursor:pointer;
}

#province-patient-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#hcilisting-masterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#hcilisting-masterlist-table tbody tr
{
    cursor:pointer;
}

#hcilisting-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#surgical-sterilization-masterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#surgical-sterilization-masterlist-table tbody tr
{
    cursor:pointer;
}

#surgical-sterilization-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#outpatient-masterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#outpatient-masterlist-table tbody tr
{
    cursor:pointer;
}

#outpatient-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}


#external-items-masterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#external-items-masterlist-table tbody tr
{
    cursor:pointer;
}

#external-items-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#takehome-medication-listings-table tbody td
{
    padding:0px 0px 0px 18px;
}

#takehome-medication-listings-table tbody tr
{
    cursor:pointer;
}

#takehome-medication-listings-table tbody tr:hover
{
    background-color:#d6d7d7;
}
/*
#laboratory-masterlist-table tbody td
{
    padding-top:10px;
    padding-bottom:10px;
}*/

#laboratory-masterlist-table tbody tr
{
    cursor:default;
}

#laboratory-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#laboratory-ledgerlist-table tbody tr
{
    cursor:default;
}

#laboratory-ledgerlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#laboratory-resultlist-table tbody tr
{
    cursor:default;
}

#laboratory-resultlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#final-diagnosis-masterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#final-diagnosis-masterlist-table tbody tr
{
    cursor:pointer;
}

#final-diagnosis-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#referreason-masterlist-table tbody td
{
    padding:0px 0px 0px 18px;
}

#referreason-masterlist-table tbody tr
{
    cursor:pointer;
}

#referreason-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}


/*#all-inpatient-masterlist-table tbody td
{
    padding: 2px;
}*/


/*#table-data-height
{
    margin-top:3px;
    margin-bottom:3px;
}*/


#zero-all
{
    padding:0px;
    margin:0px;
    border:none;
}

/*#admitted-patients-masterlist-table tbody td
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
    padding-right:15px;
}

#admitted-patients-masterlist-table tbody tr
{
    cursor:pointer;
}*/

/*#admitted-patients-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}*/

#quick-admitted-patients-masterlist-table tbody td
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
    padding-right:15px;
}

#quick-admitted-patients-masterlist-table tbody tr
{
    cursor:pointer;
}

#quick-admitted-patients-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}


#prescription-instruction-masterlist-table tbody td
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
    padding-right:15px;
}

#prescription-instruction-masterlist-table tbody tr
{
    cursor:pointer;
}

#prescription-instruction-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#package-management-table tbody td
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
    padding-right:5px;
}

#package-management-table tbody tr
{
    cursor:pointer;
}

#package-management-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#doctors-masterlist-table tbody td
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
    padding-right:5px;
}

#doctors-masterlist-table tbody tr
{
    cursor:pointer;
}

#doctors-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#nurses-masterlist-table tbody td
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
    padding-right:5px;
}

#nurses-masterlist-table tbody tr
{
    cursor:pointer;
}

#nurses-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#rooms-masterlist-table tbody td
{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:15px;
    padding-right:5px;
}

#rooms-masterlist-table tbody tr
{
    cursor:pointer;
}

#rooms-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

#prof:active
{
    background-color:#16A6B0;
}

#prof:focus
{
    background-color:#16A6B0;
}

.bg-btn-color
{
    background-color:#16A6B0;
}

#opdwalkin-masterlist-table tbody td
{
    padding:0px 0px 0px 15px;
}

#opdwalkin-masterlist-table tbody tr
{
    cursor:pointer;
}

#opdwalkin-masterlist-table tbody tr:hover
{
    background-color:#d6d7d7;
}

.bevelBox
{
    background: linear-gradient(180deg, rgba(201,204,204,1) 0%, rgba(161,164,164,1) 51%, rgba(124,126,126,1) 100%);
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.stripsdesign
{
    background-image: linear-gradient(120deg, #154e61 25%, #153345 25%, #153345 50%, #154e61 50%, #154e61 75%, #153345 75%, #153345 100%);
    background-size: 23.09px 40.00px;
}

.shadow-effect
{
    -webkit-box-shadow: -2px 2px 4px -2px rgba(0,0,0,1);
    -moz-box-shadow: -2px 2px 4px -2px rgba(0,0,0,1);
    box-shadow: -2px 2px 4px -2px rgba(0,0,0,1);
}

.shadow-effect2
{
    -webkit-box-shadow: 0px 1px 4px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 4px -2px rgba(0,0,0,1);
    box-shadow: 0px 1px 4px -2px rgba(0,0,0,1);
}

.disabledivcontent
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index:2;
    opacity:0.4;
    filter: alpha(opacity = 50);
    cursor: not-allowed;
}

li.disabledTab 
{
    cursor: not-allowed;
}
li.disabledTab a
{
    pointer-events: none;
}